.form {
    background: var(--light-gray);
    position: relative;

    &__wrap {
        display: flex;
        padding: 48px 0 80px;

    }

    &__img {
        & img {
            position: absolute;
            right: 0;
            bottom: 0;
        }
    }

    &__desc {
        max-width: 472px;
        display: flex;
        flex-direction: column;
        gap: 40px;

        &-txts {
            &__title {
                font-family: 'NeoM';
                font-size: 40px;
                font-weight: 700;
                line-height: 82px;
                letter-spacing: -0.05em;
                color: var(--primary-color);

            }

            &__text {
                font-family: 'NeoR';
                font-size: 18px;
                font-weight: 400;
                line-height: 21.6px;


            }
        }

        &-main {
            max-width: 472px;
            display: flex;
            flex-direction: column;
            gap: 10px;

            &__inp {
                padding: 24px 30px;
                border-radius: 10px;
                border: none;
                outline: none;
                font-family: 'GPR';
                font-size: 16px;
                font-weight: 400;
                line-height: 18.75px;

                &::placeholder {
                    font-family: 'GPR';
                    font-size: 16px;
                    font-weight: 400;
                    line-height: 18.75px;


                }
            }

            &__btn {
                padding: 24px;
                color: var(--white);
                font-family: 'GPR';
                font-size: 16px;
                font-weight: 400;
                line-height: 18.75px;
                border-radius: 10px;
                outline: none;
                border: none;
                background: var(--primary-color);

            }
        }
    }
}

@media screen and (max-width: 480px) {
    .form {

        &__desc {
            &-main{
                &__inp{
                    font-size: 16px;
                    &::placeholder{
                        font-size: 16px;
                    }
                }
            }
            &-txts {
                display: flex;
                flex-direction: column;
                gap: 20px;
                &__title {
                    font-family: 'NeoM';
                    font-weight: 600;
                    font-size: 30px;
                    line-height: 18px;
                    letter-spacing: 0%;

                }

                &__text {
                    font-family: 'NeoR';
                    font-weight: 400;
                    font-size: 18px;
                    line-height: 20px;
                    letter-spacing: 0%;

                }
            }
        }
    }
}

@media screen and (max-width: 1620px) {
    .form {
        &__img {
            & img {
                width: 900px;
            }
        }
    }
}