.main {
    padding: 32px 0 96px;

    &__wrap {
        display: flex;
        justify-content: space-between;
        gap: 20px;
    }

    &__left {
        display: flex;
        flex-direction: column;
        gap: 76px;
        width: 350px;

        & img {
            border-radius: 20px;
        }

        &-filter {
            display: flex;
            flex-direction: column;
            gap: 20px;

            &__title {
                font-family: 'Neom';
                font-size: 24px;
                font-weight: 600;
                line-height: 22px;
                color: var(--gray);

            }

            &__inputs {
                display: flex;
                gap: 6px;

                &-inp {

                    /* Для Chrome, Safari, Edge */
                

                    padding: 14px 20px;
                    max-width: 174px;
                    outline: none;
                    border: none;
                    background: var(--white);
                    font-family: 'GPR';
                    font-size: 18px;
                    font-weight: 400;
                    border-radius: 10px;
                    line-height: 22px;
                    color: var(--black);

                    &::placeholder {
                        font-family: 'GPR';
                        font-size: 18px;
                        font-weight: 400;
                        line-height: 22px;
                        color: var(--gray);
                    }
                }
            }
        }

        &-categories {
            display: flex;
            flex-direction: column;
            gap: 38px;

            &__title {
                font-family: "NeoM";
                font-size: 24px;
                font-weight: 600;
                line-height: 22px;


            }

            &__nav {
                display: flex;
                flex-direction: column;
                gap: 22px;

                &-elem {
                    display: flex;
                    justify-content: space-between;
                    color: var(--black);

                    &__text {
                        font-family: 'NeoR';
                        color: var(--gray);
                        font-size: 20px;
                        font-weight: 400;
                        line-height: 20px;
                        text-align: left;
                        text-underline-position: from-font;
                        text-decoration-skip-ink: none;

                    }
                }
            }
        }
    }

    &__products {

        display: flex;
        flex-direction: column;
        gap: 20px;

        &-pagination {
            display: flex;
            margin: 0 auto;
            align-items: center;
            gap: 20px;

            &__num {
                padding: 10px 20px;
                font-family: 'NeoM';
                font-size: 16px;
                font-weight: 600;
                line-height: 20px;
            }

            &__btn {
                padding: 15px 20px;
                border-radius: 20px;
                text-align: center;
                font-family: 'GPR';
                font-size: 20px;
                font-weight: 400;
                line-height: 20px;
                color: var(--gray);
                background: var(--white);
                outline: none;
                border: none;
            }
        }

        &-btn {
            padding: 16px 0;
            border-radius: 20px;
            text-align: center;
            font-family: 'GPR';
            font-size: 20px;
            font-weight: 400;
            line-height: 20px;
            color: var(--gray);
            background: var(--white);
            outline: none;
            border: none;

        }

        &-grid {
            display: grid;
            gap: 20px;
            grid-template-columns: repeat(3, 1fr);
        }
    }
}

@media screen and (max-width:480px) {
    .main {
        padding: 20px 0;

        &__products {
            &-grid {
                grid-template-columns: repeat(2, 1fr);


            }

            &-btn {
                display: none;

            }

            &-pagination {
                display: none;
            }
        }

        &__left {
            display: none;

            &-categories {
                display: none;
            }
        }

    }
}

@media screen and (max-width: 470px) {
    .main {
        &__products {
            &-grid {
                gap: 30px;
            }
        }
    }
}

@media screen and (max-width: 460px) {
    .main {

        max-width: 100%;

        &__products {

            &-grid {
                gap: 20px;

            }
        }

    }
}


@media screen and (max-width: 450px) {
    .main {

        max-width: 100%;

        &__products {

            &-grid {
                gap: 10px;

            }
        }

    }
}

@media screen and (max-width: 360px) {
    .main {
        &__products {
            &-grid {
                display: flex;
                flex-direction: column;
                justify-content: start;
                gap: 10px;
            }
        }

    }
}

@media screen and (max-width: 410px) {
    .main {
        &__products {

            &-grid {
                gap: 60px;

            }
        }

    }
}

@media screen and (max-width: 410px) {
    .main {
        &__products {

            &-grid {
                gap: 40px;

            }
        }

    }
}


@media screen and (max-width: 380px) {
    .main {
        &__products {

            &-grid {
                gap: 30px;

            }
        }

    }
}


@media screen and (max-width: 340px) {
    .main {
        &__products {

            &-grid {
                max-width: 98%;
            }
        }

    }
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

/* Для Firefox */
input[type="number"] {
    -moz-appearance: textfield;
}