.auth {
    padding: 20px;
    &__wrap {
        max-width: 700px;
        width: 100%;
        padding: 20px;
        background: var(--white);
        border-radius: 20px;
        display: flex;
        gap: 24px;
        flex-direction: column;
    }

    &__outer {
        position: relative;
    }

    &__dis {
        display: none;
    }

    &__desc {
        display: flex;
        justify-content: space-between;

        &-text {
            font-weight: 600;
            font-size: 24px;
            display: flex;
            gap: 10px;
            align-items: center;

        }
    }

    position: fixed;

    z-index: 1000;
    background: #000000bd;
    width: 100%;
    height: 100svh;
    top: 0;
    left: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

}


@media screen and (max-width: 460px){
    .auth{
        &__desc{
            &-text{
                font-size: 22px;
            }
        }
    }
}

@media screen and (max-width: 440px){
    .auth{
        &__desc{
            &-text{
                font-size: 18px;
            }
        }
    }
}