.product {
  &__main {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 12px;
    border-radius: 20px;
    background: var(--white);
    padding: 14px;
    width: 100%;
    transition: 0.25s ease;
    cursor: pointer;
  }

  &__wrap {
    display: flex;
    flex-direction: column;
    gap: 12px;
  }

  &__img {
    position: relative;
    width: 100%;
    border-radius: 14px;
    overflow: hidden;
    background: linear-gradient(135deg, #0c2749, #174a7b);
    aspect-ratio: 1 / 1;

    img {
      width: 100%;
      height: 100%;
      transition: 0.25s ease;
      object-fit: contain;
      background: transparent;
    }

    &:hover img {
      transform: scale(1.04);
    }
  }

  &__special,
  &__disc {
    position: absolute;
    top: 10px;
    padding: 10px 14px;
    border-radius: 10px;
  }

  &__special {
    left: 10px;
    background: var(--white);

    &-text {
      font-size: 14px;
      text-transform: capitalize;
      font-weight: 500;
    }
  }

  &__disc {
    right: 10px;
    background: var(--sale);

    &-text {
      font-size: 16px;
      font-weight: 700;
      color: var(--white);
    }
  }

  &__desc {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    flex: 1;

    &-title {
      font-size: 18px;
      font-weight: 400;
      color: var(--gray);
      line-height: 1.3;
      overflow: hidden;
      display: -webkit-box;
      -webkit-line-clamp: 2;
      -webkit-box-orient: vertical;
      color: #7d7d7d;
      margin: 12px 0;
    }

    &-price {
      display: flex;
      flex-direction: column;
      justify-content: end;
      gap: 4px;
      font-weight: 500;
      font-size: 20px;
      line-height: 100%;
      letter-spacing: 0%;
      height: 50px;

      &__disc {
        text-decoration: line-through;
        color: var(--gray);
        font-weight: 500;
        font-style: Medium;
        font-size: 20px;
        line-height: 100%;
        letter-spacing: 0%;
      }

      &__text {
        font-size: 22px;
        font-weight: 700;
        color: black;
      }
    }

    &-btns {
      display: grid;
      grid-template-columns: 4.5fr 1fr;
      gap: 10px;

      &__buy,
      &__basket {
        border-radius: 8px;
        border: none;
        background: var(--primary-color);
        padding: 14px;
        display: flex;
        align-items: center;
        justify-content: center;
        transition: 0.25s;
      }

      &__buy {
        font-size: 18px;
        color: var(--white);
      }
    }
  }
}

@media (max-width: 480px) {
  .product {
    &__main {
      padding: 10px;
      border-radius: 12px;
    }

    &__desc-title {
      font-size: 14px;
      height: auto;
    }

    &__desc-price__text {
      font-size: 18px;
    }

    &__desc-btns__buy {
      font-size: 14px;
      padding: 10px;
    }
  }
}
