.slide {
  position: relative;
  width: 100%;
  max-height: 500px;
  min-height: 500px;
  height: 100%;
  overflow: hidden;
  border-radius: 12px;
 margin:20px 0;
  .swiper-slide {
    height: 100%;

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      display: block;
      border-radius: 12px; 
    }
  }
}

@media screen and (max-width: 480px) {
  .slide {
    height: 300px;
  }
}
