.footer {
    &__inner {
        background: var(--primary-color);
    }

    &__wrap {
        display: flex;
        justify-content: space-between;
        padding: 36px 0;
    }

    &__titles {
        display: flex;
        gap: 50px;
        align-items: center;

        &-media {
            display: flex;
            gap: 22px;
        }

        &-text {
            font-family: 'NeoR';
            font-weight: 400;
            font-size: 24px;
            color: var(--white);

        }
    }

    &__l {
        display: flex;
        gap: 50px;
    }

    &__btm {
        display: flex;
        gap: 50px;

        &-el {
            &__tel {
                display: flex;

                padding: 8px 0;
                align-items: center;
                justify-content: center;
                border-radius: 10px;
                border: 1px solid var(--white);
                gap: 5px;

                & span {
                    font-family: 'NeoR';
                    font-weight: 600;
                    color: var(--white);
                    font-size: 16px;

                }


                font-family: 'NeoR';
                font-weight: 400;
                color: var(--white);
                font-size: 16px;


            }

            &__list {
                display: flex;
                flex-direction: column;
                gap: 20px;

                &-item {
                    font-family: "NeoR";
                    font-weight: 400;
                    font-size: 16px;
                    color: var(--white);

                }
            }

            display: flex;
            flex-direction: column;
            justify-content: space-between;
        }

        &-app {
            padding-bottom: 4px;
            display: flex;
            gap: 10px;
            justify-content: center;
            align-items: end;

            &__el {
                min-height: 37px;
                padding: 8px 18px;
                border: 1px solid var(--white);
                border-radius: 10px;

                &-text {
                    margin-top: 2px;
                }

                color: var(--white);
                font-family: 'NeoR';
                font-weight: 400;
                font-size: 15px;
                line-height: 100%;
                letter-spacing: 0%;
                display: flex;
                gap: 12px;

            }
        }
    }

    &__left {
        display: flex;
        flex-direction: column;
        gap: 30px;


    }

    &__main {

        &-map {

            &__frame {
                height: 208px;
            }

            max-width: 494px;
            border-radius: 20px;
            overflow: hidden;
            display: flex;
            flex-direction: column;

            &__desc {
                padding: 8px 20px;
                background: var(--white);
                display: flex;
                flex-direction: column;
                gap: 14px;

                &-nav {
                    display: flex;
                    gap: 10px;

                    &__link {
                        padding: 10px 24px;
                        color: var(--primary-color);
                        border: 1px var(--primary-color) solid;
                        font-family: 'NeoR';
                        font-size: 16px;
                        font-weight: 400;
                        line-height: 15px;
                        letter-spacing: -0.3736932873725891px;
                        border-radius: 10px;
                    }
                }

                &-text {
                    font-family: 'NeoR';
                    font-size: 16px;
                    font-weight: 400;
                    line-height: 15px;
                    color: var(--gray);

                }
            }
        }

    }

    &__bottom {
        background: var(--white);

        &-wrap {
            padding: 16px 0;
            display: flex;
            justify-content: space-between;
            align-items: center;
        }

        &-desc {
            display: flex;
            gap: 10px;
            align-items: center;

            &__text {
                font-family: 'NeoR';
                max-width: 465px;
                font-size: 10px;
                font-weight: 400;
                line-height: 12px;
                color: var(--primary-color);

            }
        }

        &-text {
            font-family: 'NeoM';
            font-size: 20px;
            font-weight: 500;
            line-height: 24px;
            color: var(--primary-color);

        }
    }
}

@media screen and (max-width: 480px) {
    .footer {
        &__main {
            &-map {
                width: 100%;

                &__desc {
                    &-nav {
                        justify-content: space-between;

                        &__link {
                            padding: 10px 5px;
                            width: 100%;
                            text-align: center;
                            font-family: 'NeoR';
                            font-weight: 400;
                            font-size: 15px;
                            line-height: 15px;
                            letter-spacing: -0.37px;

                        }

                        &__link:last-child {
                            width: max-content;
                            padding: 10px 15px;
                        }
                    }
                }

            }
        }

        &__bottom {
            &-wrap {
                flex-direction: column;
                gap: 18px;
            }
        }

        &__wrap {
            flex-direction: column;
            gap: 30px;
        }

        &__l {
            flex-direction: column;
        }

        &__titles {
            gap: 0;
            justify-content: space-between;

            &-media {
                max-width: 190px;
                gap: 12px;
                justify-content: space-between;
            }
        }


        &__btm {
            // text-align: right;
            justify-content: space-between;
            gap: 0;

            &-qr {
                max-width: 190px;
            }

            &-el {
                &__tel {
                    border: none;
                    padding: none;
                    justify-content: start;
                }
            }

            &-app {
                &__el {
                    min-width: 190px;
                    align-items: center;
                    justify-content: center;
                    padding: 10px 0;
                }


                justify-content: space-between;
            }
        }

    }
}

@media screen and (max-width: 430px) {
    .footer {
      
        &__l {
            gap: 30px;
        }

        &__titles {
            &-text{
                font-size: 20px;
            }
            gap: 0;
            justify-content: space-between;

            &-media {
                & img{
                    width: 30px;
                }
                max-width: 150px;
                gap: 10px;
               
            }
        }


        &__btm {
          

            &-qr {
                max-width: 150px;
            }

            &-el {
                &__list{
                    &-item{
                        font-size: 14px;
                    }
                }
                &__tel {
                    border: none;
                    padding: none;
                    justify-content: end;
                }
            }

            &-app {
                &__el {
                    min-width: 150px;
                }
             
            }
        }

    }
}