.header {
    &__cover {
        display: none;
    }

    display: flex;
    flex-direction: column;

    &__top {
        &-wrap {
            display: flex;
            justify-content: space-between;
            align-items: center;
        }

        &-nav {
            align-items: center;
            display: flex;
            gap: 24px;

            &__links {
                display: flex;
                gap: 22px;
            }

            &__number {
                &-link {
                    font-size: 16px;
                    font-weight: 500;
                    line-height: 24px;
                    color: var(--white);
                }
            }
        }

        background: var(--primary-color);

        &-locate {
            color: var(--white);
            display: flex;
            gap: 10px;
            padding: 12px 0;
            align-items: center;

            &__text {
                font-size: 16px;
                font-weight: 400;
                line-height: 20px;
            }

            &__span {
                font-size: 16px;
                font-weight: 500;
                line-height: 20px;
            }
        }
    }

    &__main {
        padding: 30px 0;
        background: var(--white);

        &-wrap {
            display: flex;
            align-items: center;
            // gap: 30px;
            justify-content: space-between;
        }

        &-logo {
            font-size: 30px;
            font-weight: 500;
            line-height: 38.41px;
            color: var(--primary-color);
        }

        &-center {

            align-items: center;
            display: grid;
            grid-template-columns: 1fr 2fr;
            gap: 20px;

            max-height: 46px;

            &__search {
                width: 780px;

                border: var(--primary-color) 1px solid;
                border-radius: 20px;
                max-height: 46px;

                padding-left: 30px;
                display: flex;
                justify-content: space-between;

                &-button {
                    background: var(--primary-color);
                    border-radius: 20px;
                    padding: 12px 20px;
                    outline: none;
                    border: none;

                    & img {
                        margin-left: 5px;
                    }
                }

                &-input {
                    border: none;
                    outline: none;
                    color: var(--black);
                    font-size: 16px;
                    font-weight: 400;
                    height: auto;
                    margin-top: 4px;

                    &::placeholder {
                        color: var(--gray);
                        font-size: 16px;
                        font-weight: 400;
                    }
                }
            }

            &__categories {
                height: 100%;

                &-text {
                    font-size: 18px;
                    font-weight: 400;
                    color: var(--white);
                }

                padding: 14px 20px;
                display: flex;
                align-items: center;
                max-height: 46px;
                gap: 10px;
                border-radius: 20px;
                background: var(--primary-color);
            }
        }

        &-nav {
            &__elem {
                display: flex;
                flex-direction: column;
                align-items: center;
                gap: 6px;
                position: relative;

                &-span {
                    font-weight: 400;
                    font-size: 11px;
                    color: var(--white);
                    border-radius: 100%;
                    background: var(--sale);
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    width: 20px;
                    height: 20px;
                    top: -5px;
                    border: 1px solid var(--white);
                    position: absolute;
                    right: 15px;

                }

                &-text {
                    font-size: 16px;
                    font-weight: 500;
                    line-height: 19.2px;
                    color: var(--primary-color);
                }
            }

            // display: grid;
            // grid-template-columns: repeat(2, 1fr);
            display: flex;
            gap: 34px;
            padding-left: 30px;
        }

        &-adaptive {
            display: none;

        }

        &-inp {
            display: none;
        }
    }
}

@media screen and (max-width: 480px) {

    .header {

        &__top {
            &-locate {
                &__text {
                    font-size: 12px;

                }

                &__span {
                    font-size: 12px;

                }
            }



            &-nav {
                display: none;
            }

        }

        &__main {
            height: 80px; 

            &-inp {
                outline: none;
                width: 85%;
                display: flex;
                padding: 14px 20px;
                border-radius: 14px;
                height: 46px; 
                border: 1px solid var(--primary-color);

                &::placeholder {
                    color: var(--gray);
                }
                font-weight: 400;
                font-size: 16px;
                line-height: 18.75px;
                letter-spacing: 0%;

            }

            position: relative;
            padding: 16px 0;

            &-logo {
                max-width: 100px;
                font-weight: 500;
                font-size: 20px;
                line-height: 18px;
            }

            &-nav {
                display: none;
            }

            &-center {
                display: none;
            }

            &-adaptive {
                display: flex;
                position: absolute;
                right: 20px;
                top: 14px;
                gap: 5px;
                height: 49px;

                &__btn {
                    padding: 14px;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    border-radius: 14px;
                    border: none;
                    outline: none;
                    background: var(--primary-color);

                }

            }
        }
    }

    .headernav {
        &__btm {
            display: flex;
            justify-content: space-between;

            &-list {
                display: flex;
                gap: 10px;

                & img {
                    padding: 6px;
                    // max-width: 30px;
                    width: 32px;
                    height: 32px;
                    background: var(--primary-color);
                    border-radius: 6px;
                }
            }
        }

        &__wrap {
            z-index: inherit;
            display: flex;
            flex-direction: column;
            gap: 110px;
            z-index: 10000;
        }

        position: fixed;
        width: 100%;
        height: 100svh;
        z-index: 1000;
        top: 108px;
        background: var(--white);
        padding: 40px 0 50px;

        &__bottom {
            margin-top: 25px;
        }

        &__title {
            font-weight: 600;
            font-size: 20px;
            margin-bottom: 30px;

        }

        &__list {
            display: flex;
            flex-direction: column;
            gap: 24px;

            &-text {
                display: flex;
                justify-content: space-between;
                font-weight: 400;
                font-size: 18px;
                line-height: 20px;
                letter-spacing: 0%;

            }
        }
    }
}