.footer__inner {
  background: var(--primary-color);
}
.footer__wrap {
  display: flex;
  justify-content: space-between;
  padding: 36px 0;
}
.footer__titles {
  display: flex;
  gap: 50px;
  align-items: center;
}
.footer__titles-media {
  display: flex;
  gap: 22px;
}
.footer__titles-text {
  font-family: "NeoR";
  font-weight: 400;
  font-size: 24px;
  color: var(--white);
}
.footer__l {
  display: flex;
  gap: 50px;
}
.footer__btm {
  display: flex;
  gap: 50px;
}
.footer__btm-el {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.footer__btm-el__tel {
  display: flex;
  padding: 8px 0;
  align-items: center;
  justify-content: center;
  border-radius: 10px;
  border: 1px solid var(--white);
  gap: 5px;
  font-family: "NeoR";
  font-weight: 400;
  color: var(--white);
  font-size: 16px;
}
.footer__btm-el__tel span {
  font-family: "NeoR";
  font-weight: 600;
  color: var(--white);
  font-size: 16px;
}
.footer__btm-el__list {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.footer__btm-el__list-item {
  font-family: "NeoR";
  font-weight: 400;
  font-size: 16px;
  color: var(--white);
}
.footer__btm-app {
  padding-bottom: 4px;
  display: flex;
  gap: 10px;
  justify-content: center;
  align-items: end;
}
.footer__btm-app__el {
  min-height: 37px;
  padding: 8px 18px;
  border: 1px solid var(--white);
  border-radius: 10px;
  color: var(--white);
  font-family: "NeoR";
  font-weight: 400;
  font-size: 15px;
  line-height: 100%;
  letter-spacing: 0%;
  display: flex;
  gap: 12px;
}
.footer__btm-app__el-text {
  margin-top: 2px;
}
.footer__left {
  display: flex;
  flex-direction: column;
  gap: 30px;
}
.footer__main-map {
  max-width: 494px;
  border-radius: 20px;
  overflow: hidden;
  display: flex;
  flex-direction: column;
}
.footer__main-map__frame {
  height: 208px;
}
.footer__main-map__desc {
  padding: 8px 20px;
  background: var(--white);
  display: flex;
  flex-direction: column;
  gap: 14px;
}
.footer__main-map__desc-nav {
  display: flex;
  gap: 10px;
}
.footer__main-map__desc-nav__link {
  padding: 10px 24px;
  color: var(--primary-color);
  border: 1px var(--primary-color) solid;
  font-family: "NeoR";
  font-size: 16px;
  font-weight: 400;
  line-height: 15px;
  letter-spacing: -0.3736932874px;
  border-radius: 10px;
}
.footer__main-map__desc-text {
  font-family: "NeoR";
  font-size: 16px;
  font-weight: 400;
  line-height: 15px;
  color: var(--gray);
}
.footer__bottom {
  background: var(--white);
}
.footer__bottom-wrap {
  padding: 16px 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.footer__bottom-desc {
  display: flex;
  gap: 10px;
  align-items: center;
}
.footer__bottom-desc__text {
  font-family: "NeoR";
  max-width: 465px;
  font-size: 10px;
  font-weight: 400;
  line-height: 12px;
  color: var(--primary-color);
}
.footer__bottom-text {
  font-family: "NeoM";
  font-size: 20px;
  font-weight: 500;
  line-height: 24px;
  color: var(--primary-color);
}

@media screen and (max-width: 480px) {
  .footer__main-map {
    width: 100%;
  }
  .footer__main-map__desc-nav {
    justify-content: space-between;
  }
  .footer__main-map__desc-nav__link {
    padding: 10px 5px;
    width: 100%;
    text-align: center;
    font-family: "NeoR";
    font-weight: 400;
    font-size: 15px;
    line-height: 15px;
    letter-spacing: -0.37px;
  }
  .footer__main-map__desc-nav__link:last-child {
    width: -moz-max-content;
    width: max-content;
    padding: 10px 15px;
  }
  .footer__bottom-wrap {
    flex-direction: column;
    gap: 18px;
  }
  .footer__wrap {
    flex-direction: column;
    gap: 30px;
  }
  .footer__l {
    flex-direction: column;
  }
  .footer__titles {
    gap: 0;
    justify-content: space-between;
  }
  .footer__titles-media {
    max-width: 190px;
    gap: 12px;
    justify-content: space-between;
  }
  .footer__btm {
    justify-content: space-between;
    gap: 0;
  }
  .footer__btm-qr {
    max-width: 190px;
  }
  .footer__btm-el__tel {
    border: none;
    padding: none;
    justify-content: start;
  }
  .footer__btm-app {
    justify-content: space-between;
  }
  .footer__btm-app__el {
    min-width: 190px;
    align-items: center;
    justify-content: center;
    padding: 10px 0;
  }
}
@media screen and (max-width: 430px) {
  .footer__l {
    gap: 30px;
  }
  .footer__titles {
    gap: 0;
    justify-content: space-between;
  }
  .footer__titles-text {
    font-size: 20px;
  }
  .footer__titles-media {
    max-width: 150px;
    gap: 10px;
  }
  .footer__titles-media img {
    width: 30px;
  }
  .footer__btm-qr {
    max-width: 150px;
  }
  .footer__btm-el__list-item {
    font-size: 14px;
  }
  .footer__btm-el__tel {
    border: none;
    padding: none;
    justify-content: end;
  }
  .footer__btm-app__el {
    min-width: 150px;
  }
}/*# sourceMappingURL=footer.css.map */