.pradapt {
  padding-bottom: 10px;
  display: none;
  grid-template-columns: repeat(2, 1fr);
  gap: 20px;
}
.pradapt-all__content {
  margin-top: 5px;
  width: 210px;
  z-index: 100;
  position: absolute;
  display: flex;
  flex-direction: column;
  gap: 5px;
  background: var(--white);
  border: var(--border) 1px solid;
  border-radius: 20px;
  overflow: hidden;
}
.pradapt-all__content-text {
  border-bottom: 1px solid var(--border);
  font-family: "GPR";
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
  padding: 14px 24px;
  width: 100%;
  max-width: 100%;
  overflow: hidden;
  text-overflow: ellipsis;
  background: var(--white);
}
.pradapt__clear {
  display: none;
}
.pradapt-btn {
  position: relative;
  display: flex;
  gap: 10px;
  width: 100%;
  padding: 14px 24px;
  align-items: center;
  border-radius: 10px;
  background: var(--white);
  border: none;
  outline: none;
}
.pradapt-btn__text {
  font-family: "NeoM";
  margin: 0 auto;
  font-weight: 600;
  font-size: 16px;
  max-width: 100px;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}

@media screen and (max-width: 480px) {
  .pradapt {
    display: grid;
  }
  .pradapt__clear {
    margin-bottom: 30px;
    display: block;
    background-color: var(--primary-color);
    color: white;
    text-align: center;
    cursor: pointer;
    border: none;
    padding: 10px 20px;
    border-radius: 10px;
    font-family: "GPR";
    width: 100%;
  }
  .pradapt__clear:active {
    background-color: white;
    color: var(--primary-color);
  }
  .filt {
    display: block;
  }
}
.filt {
  position: relative;
  width: 100%;
}
.filt__name {
  padding: 25px 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  background: var(--white);
  width: 100%;
}
.filt__name img {
  position: absolute;
  right: 20px;
  background: var(--primary-color);
  border-radius: 14px;
  padding: 14px;
}
.filt__name-text {
  font-family: "NeoM";
  font-weight: 500;
  font-size: 22px;
  line-height: 19.2px;
  letter-spacing: 0%;
}
.filt__top {
  padding-top: 26px;
  display: flex;
  flex-direction: column;
  gap: 24px;
  background: var(--body);
}
.filt__top-cat {
  padding: 0 30px;
  display: flex;
  flex-direction: column;
  gap: 24px;
}
.filt__text {
  font-family: "NeoR";
  padding: 0 30px;
  display: flex;
  justify-content: space-between;
  width: 100%;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  letter-spacing: 0%;
}
.filt__title {
  padding: 0 30px;
  font-family: "NeoM";
  font-weight: 600;
  font-size: 18px;
  line-height: 22px;
  letter-spacing: 0%;
}
.filt__wrap {
  background: rgba(0, 0, 0, 0.3960784314);
  transform: translateX(-20px);
  position: fixed;
  display: flex;
  width: 100%;
  z-index: 100000;
  flex-direction: column;
  justify-content: end;
  height: 100svh;
  bottom: 0;
}
.filt__bottom {
  background: var(--body);
}
.filt__bottom-title {
  font-family: "NeoM";
  font-weight: 600;
  font-size: 18px;
  line-height: 22px;
  letter-spacing: 0%;
  padding: 30px 30px 15px;
}
.filt__inputs {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 10px;
  padding: 0 30px;
  padding-bottom: 150px;
}
.filt__inputs-inp {
  outline: none;
  font-family: "GPR";
  font-weight: 400;
  font-size: 14px;
  border: none;
  padding: 16px 20px;
  border-radius: 10px;
  background: var(--white);
}
.filt__inputs-inp::-moz-placeholder {
  color: var(--placeholderProds) 7A7A7;
}
.filt__inputs-inp::placeholder {
  color: var(--placeholderProds) 7A7A7;
}

@media screen and (max-width: 470px) {
  .filt__inputs {
    width: 100%;
    display: flex;
    flex-direction: column;
  }
  .pradapt-all__content {
    max-width: 50%;
  }
}
@media screen and (max-width: 450px) {
  .pradapt-all__content {
    max-width: 40%;
  }
}
@media screen and (max-width: 360px) {
  .filt {
    width: 100%;
  }
  .pradapt {
    gap: 10px;
    display: flex;
    flex-direction: column;
  }
  .pradapt-all__content {
    max-width: 35%;
  }
}/*# sourceMappingURL=prodsMainAdapt.css.map */