.pradapt {
    &-all {
        &__content {
            margin-top: 5px;
            width: 210px;
            z-index: 100;
            position: absolute;
            display: flex;
            flex-direction: column;
            gap: 5px;
            background: var(--white);
            border: var(--border) 1px solid;
            border-radius: 20px;
            overflow: hidden;

            &-text {
                border-bottom: 1px solid var(--border);

                font-family: 'GPR';
                font-weight: 400;
                font-size: 14px;
                line-height: 18px;
                padding: 14px 24px;
                width: 100%;
                max-width: 100%;
                overflow: hidden;
                text-overflow: ellipsis;
                background: var(--white);
            }
        }
    }

    &__clear {
        display: none;
    }

    padding-bottom: 10px;
    display: none;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;


    &-btn {
        position: relative;


        &__text {
            font-family: 'NeoM';
            margin: 0 auto;
            font-weight: 600;
            font-size: 16px;
            max-width: 100px;
            text-overflow: ellipsis;
            overflow: hidden;
            white-space: nowrap;
        }

        display: flex;
        gap: 10px;
        width: 100%;
        padding: 14px 24px;
        align-items: center;
        border-radius: 10px;
        background: var(--white);
        border: none;
        outline: none;
    }
}

@media screen and (max-width: 480px) {
    .pradapt {
        display: grid;

        &__clear {
            margin-bottom: 30px;
            display: block;
            background-color: var(--primary-color);
            color: white;
            text-align: center;
            cursor: pointer;
            border: none;
            padding: 10px 20px;
            border-radius: 10px;
            font-family: 'GPR';
            width: 100%;
        }

        &__clear:active {
            background-color: white;
            color: var(--primary-color);
        }
    }

    .filt {
        display: block;
    }
}



.filt {
    position: relative;
    width: 100%;

    &__name {
        padding: 25px 20px;
        display: flex;
        align-items: center;
        justify-content: center;
        position: relative;
        border-top-left-radius: 20px;
        border-top-right-radius: 20px;
        background: var(--white);
        width: 100%;

        & img {
            position: absolute;
            right: 20px;
            background: var(--primary-color);
            border-radius: 14px;
            padding: 14px;
        }

        &-text {
            font-family: 'NeoM';
            font-weight: 500;
            font-size: 22px;
            line-height: 19.2px;
            letter-spacing: 0%;

        }

    }

    &__top {
        padding-top: 26px;

        &-cat {
            padding: 0 30px;
            display: flex;
            flex-direction: column;
            gap: 24px;
        }

        display: flex;
        flex-direction: column;
        gap: 24px;
        background: var(--body);
    }

    &__text {
        font-family: 'NeoR';
        padding: 0 30px;
        display: flex;
        justify-content: space-between;
        width: 100%;
        font-weight: 400;
        font-size: 16px;
        line-height: 20px;
        letter-spacing: 0%;

    }

    &__title {
        padding: 0 30px;
        font-family: 'NeoM';
        font-weight: 600;
        font-size: 18px;
        line-height: 22px;
        letter-spacing: 0%;
    }

    &__wrap {
        background: #00000065;
        transform: translateX(-20px);
        position: fixed;
        display: flex;
        width: 100%;
        z-index: 100000;
        flex-direction: column;
        justify-content: end;
        height: 100svh;
        bottom: 0;
    }

    &__bottom {
        background: var(--body);

        &-title {
            font-family: 'NeoM';
            font-weight: 600;
            font-size: 18px;
            line-height: 22px;
            letter-spacing: 0%;
            padding: 30px 30px 15px;

        }
    }

    &__inputs {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 10px;
        padding: 0 30px;
        padding-bottom: 150px;

        &-inp {
            outline: none;
            font-family: 'GPR';
            font-weight: 400;
            font-size: 14px;

            border: none;
            padding: 16px 20px;
            border-radius: 10px;

            &::placeholder {
                color: var(--placeholderProds)7A7A7;

            }

            background: var(--white);
        }
    }
}

@media screen and (max-width: 470px) {
    .filt {
        &__inputs {
            width: 100%;
            display: flex;
            flex-direction: column;
        }
    }

    .pradapt {
        &-all {
            &__content {
                max-width: 50%;
            }
        }
    }
}


@media screen and (max-width: 450px) {


    .pradapt {
        &-all {
            &__content {
                max-width: 40%;
            }
        }
    }
}


@media screen and (max-width: 360px) {
    .filt {
        width: 100%;
    }

    .pradapt {
        gap: 10px;
        display: flex;
        flex-direction: column;

        &-all {
            &__content {
                max-width: 35%;
            }
        }
    }
}