.slide {
    position: relative;
    width: 100%;
    max-height: 550px;
    min-height: 550px;


    &__bg {
        width: 100%;
        height: 100%;
    }
}


@media screen and (max-width: 480px) {
    .slide {
        height: 300px;
    }

}